DATABASE_URL="postgresql://postgres:me@localhost:5433/motomotoyt?schema=public"
AUTH_SECRET="Zhssjsskskskksosososoososos"

AUTH_GOOGLE_ID=4638hshshssjhshhshshshhshshhshshhs.apps.googleusercontent.com
AUTH_GOOGLE_SECRET=GOCSsbsbhbsafsfsf1122457895412